* {
	margin: 0;
	padding: 0;
}

body, html {
    height: 100%;
}
body { 
	padding-top: 70px; 
}

nav {
	z-index: 3;
	height: 80px;
}

nav.navbar.navbar-default {
	margin-bottom: 0px;
}

nav.navbar.navbar-toggleable-md.navbar-light.bg-faded {
	background-color: white;
}

a.navbar-brand {
	height: 80px;
	padding: 10px 15px;
}

.navbar-brand > img {
	height: 60px;
}

ul.nav.navbar-nav {
	margin-top: 15px;
}

ul.nav.navbar-nav li {
	font-size: 20px;
}

div.collapse.show {
	background: white;
	text-align: center;
	font-size: 1.5rem;
}

button.navbar-toggler.navbar-toggler-right {
	top: 20px;
}

div.fp-tableCell {
    vertical-align: top;
}

.home { 
    background-image: url(../images/home_image.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.content {
	margin-top: 5rem;
}

.content h1 {
	font-size: 3rem;
}

.content i {
	color: coral;
}

.content p {
	margin-top: 1rem;
	font-size: 1.5rem;
}

.vertical-align {
	display: flex;
	flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.about_page {
	background-color: saddlebrown;
	color: sienna;
}

.about {
	margin-top: 20%
}

div.social {
	text-align: center;
	margin: 15px 0;
}

div.social ul li {
	display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

ul.fa-ul {
	margin-left: 0;
}

.fb a {
	color: #3b5999;
}

.fb a:hover {
	color: #3b5999;
}

.ig a {
	color: #e4405f;
}

.ig a:hover {
	color: #e4405f;
}

.tw a {
	color: #55acee;
}

.tw a:hover {
	color: #55acee;
}

.sc a {
	color: #FFFC00;
}

.sc a:hover {
	color: #FFFC00;
}

.yt a {
	color: #cd201f;
}

.yt a:hover {
	color: #cd201f;
}

.footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
}

@media only screen 
  and (max-device-width: 768px)
  and (min-device-width: 426px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	.navbar-brand > img {
		height: 40px;
	}

  	li.nav-item {
		border-bottom: 1px solid lightgrey;
	}

  	.content_img {
  		text-align: center;
  	}

  	.content_img img {
  		width: 280px;
  	}

  	.content {
  		margin-top: 1rem;
  	}

  	.content h1 {
  		text-align: center;
  		font-size: 2rem;
  	}

  	.content p {
  		font-size: 1rem;
  	}
}

@media only screen 
  and (max-device-width: 425px)
  and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 1) {
  	.navbar-brand > img {
		height: 40px;
	}

	li.nav-item {
		border-bottom: 1px solid lightgrey;
	}

  	.content_img {
  		text-align: center;
  	}

  	.content_img img {
  		width: 220px;
  	}

  	.content {
  		margin-top: 1rem;
  	}

  	.content h1 {
  		text-align: center;
  		font-size: 2rem;
  	}

  	.content p {
  		font-size: 1rem;
  	}

  	.about {
  		margin-top: 5px;
  	}

  	.about h1 {
  		font-size: 2rem;
  	}

  	.about p {
  		font-size: .8rem
  	}

  	.mission h1 {
  		font-size: 2rem;
  	}

  	.mission p {
  		font-size: .8rem;
  	}

  }